<h1 class="text-7xl font-bold text-center mb-7">
  <span class="text-yellow-300 decoration-wavy underline"> Detalle </span>
</h1>

<section class="grid md:grid-cols-2 md:gap-24 items-center">
  <!-- @if (pokemonPicture()) { -->
  <img
    [style.view-transition-name]="pokemon()?.name"
    [placeholder]="pokemonPicture()"
    [ngSrc]="pokemonPicture()"
    [alt]="pokemon()?.name"
    class="object-cover transition ease-in-out duration-300 brightness-110 w-full h-auto"
    style="
      filter: drop-shadow(2px 5px 0px rgba(0, 0, 0, 0.5));
      aspect-ratio: 450/450;
    "
    width="100"
    height="100"
    priority
  />
  <!-- } -->

  <article class="flex flex-col md:gap-5">
    <h1
      class="text-7xl font-bold text-center md:text-left"
      style="filter: drop-shadow(2px 5px 0px rgba(0, 0, 0, 0.5))"
    >
      {{ pokemon()?.name | titlecase }}
    </h1>
    <div class="flex gap-7 md:gap-14 items-center">
      <div
        class="size-36 bg-slate-100 rounded-2xl p-4 border flex justify-center items-center"
        style="box-shadow: inset 0 0 17px 2px #000000c2"
      >
        @if (secondaryPokemonPicture() || pokemonPicture()) {
          <img
            [src]="secondaryPokemonPicture() || pokemonPicture()"
            [alt]="pokemon()?.name"
            class="object-cover hover:scale-105 transition ease-in-out duration-300 hover:brightness-110 cursor-pointer hover:rotate-6"
            width="100"
            height="100"
            priority
          />
        }
      </div>
      <ul>
        @for (item of pokemonStats(); track $index) {
          <li>
            <strong
              class="text-pretty text-xl"
              style="filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5))"
            >
              {{ item.label | titlecase }}:
            </strong>
            <strong
              class="opacity-95 text-yellow-300 text-xl"
              style="filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5))"
            >
              {{ item.value }} points
            </strong>
          </li>
        }
      </ul>
    </div>
  </article>
</section>

<button
  (click)="goBack()"
  class="bg-white/25 px-5 py-1 rounded-lg hover:backdrop-brightness-150 transition-all hover:rotate-2"
>
  ← Volver
</button>
