<h1 class="text-3xl text-yellow-200">Precios del servicio</h1>

<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo veniam nulla
    maiores iste? Laborum impedit atque ipsa dolorum mollitia modi, consequatur
    voluptatibus voluptatem, tempora fuga earum eum, assumenda sint pariatur
    architecto quod harum illo illum totam deserunt natus cum voluptates neque
    provident. Expedita facilis veritatis culpa! Sed quo fuga fugiat dolor
    perspiciatis, ut cumque libero, tempore quis veritatis recusandae fugit est,
    nihil minima commodi aliquid unde. Asperiores, autem voluptas? Recusandae
    cupiditate quis, eos eius molestiae doloremque laudantium inventore dolores?
    Sunt iusto nesciunt consequatur sapiente minima veritatis a quas ratione!
    Quas nihil quasi consectetur eius, tempora odio vel repellendus fugit
    veritatis?
  </p>
</section>
