<h1 class="text-3xl text-yellow-200">Sobre la aplicacíón</h1>

<section>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam temporibus
    eius debitis harum? Reiciendis obcaecati cumque itaque sequi atque quia
    earum, quaerat id nulla sed cupiditate, ex exercitationem error fugiat!
  </p>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, voluptates
    consequatur dolores eius id rem voluptatem unde molestias itaque cumque non
    quas aperiam possimus quos ea ipsam dignissimos consectetur voluptate!
  </p>
</section>
