@let pokemonName = pokemon().name;

<div
  class="bg-white/25 rounded-lg shadow-md cursor-pointer hover:rotate-3 select-none transition ease-in-out px-6 py-2 hover:brightness-100 hover:bg-white/40 h-full flex flex-col justify-evenly"
  [routerLink]="['/pokemons', pokemonName]"
>
  <img
    [style.view-transition-name]="pokemonName"
    [ngSrc]="pokemonImage()"
    [alt]="pokemonName"
    class="object-cover w-full hover:scale-110 transition ease-in-out duration-300 hover:brightness-110 aspect-[113/113]"
    width="100"
    height="100"
    [placeholder]="pokemonImage()"
  />

  <h2 class="text-center text-xl text-pretty">{{ pokemonName | titlecase }}</h2>
</div>
